streamlit_env
image
.venv
__pycache__/
.idea
yolo_dataset*
yolo_dataset_augmented_extra_data
runs
yolo12n.pt
annotated_output.jpg
yolo11*
filtered_output.jpg
AI/data
!info.txt
comparison_output.jpg
YOLO_dataset_bone_seg
AI/Normal bone
inference_output
node_modules
yolo_dataset_augmented_extra_data_bone_seg
output
!AI/models